In [35]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime as dt
from datetime import datetime,tzinfo
from pytz import timezone
import time
import pytz
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [20]:
marker= pd.read_csv('marker.csv')
marker.head()
mark=marker['Date']
mark

0     2017-10-08
1     2017-10-09
2     2017-10-11
3     2017-10-12
4     2017-10-17
5     2017-10-20
6     2017-10-23
7     2017-10-25
8     2017-10-29
9     2017-10-31
10    2017-11-01
11    2017-11-02
12    2017-11-09
13    2017-11-10
14    2017-11-11
15    2017-11-14
16    2017-11-15
17    2017-11-16
18    2017-11-19
19    2017-11-24
20    2017-11-25
21    2017-11-26
22    2017-11-27
23    2017-11-28
24    2017-12-01
25    2017-12-05
26    2017-12-06
27    2017-12-10
28    2017-12-14
29    2017-12-15
30    2017-12-16
31    2017-12-19
32    2017-12-21
33    2017-12-25
34    2017-12-27
35    2017-12-29
36    2018-01-02
37    2018-01-04
38    2018-01-05
Name: Date, dtype: object

In [57]:
array_mark = []
for i in range(len(mark)):
    date = datetime.strptime(mark[i],'%Y-%m-%d')
    array_mark.append(date)
array_mark

[datetime.datetime(2017, 10, 8, 0, 0),
 datetime.datetime(2017, 10, 9, 0, 0),
 datetime.datetime(2017, 10, 11, 0, 0),
 datetime.datetime(2017, 10, 12, 0, 0),
 datetime.datetime(2017, 10, 17, 0, 0),
 datetime.datetime(2017, 10, 20, 0, 0),
 datetime.datetime(2017, 10, 23, 0, 0),
 datetime.datetime(2017, 10, 25, 0, 0),
 datetime.datetime(2017, 10, 29, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 1, 0, 0),
 datetime.datetime(2017, 11, 2, 0, 0),
 datetime.datetime(2017, 11, 9, 0, 0),
 datetime.datetime(2017, 11, 10, 0, 0),
 datetime.datetime(2017, 11, 11, 0, 0),
 datetime.datetime(2017, 11, 14, 0, 0),
 datetime.datetime(2017, 11, 15, 0, 0),
 datetime.datetime(2017, 11, 16, 0, 0),
 datetime.datetime(2017, 11, 19, 0, 0),
 datetime.datetime(2017, 11, 24, 0, 0),
 datetime.datetime(2017, 11, 25, 0, 0),
 datetime.datetime(2017, 11, 26, 0, 0),
 datetime.datetime(2017, 11, 27, 0, 0),
 datetime.datetime(2017, 11, 28, 0, 0),
 datetime.datetime(2017, 12, 1, 0, 0),
 datetime.datetime(2017, 12, 5, 0, 0),
 datetime.datetime(2017, 12, 6, 0, 0),
 datetime.datetime(2017, 12, 10, 0, 0),
 datetime.datetime(2017, 12, 14, 0, 0),
 datetime.datetime(2017, 12, 15, 0, 0),
 datetime.datetime(2017, 12, 16, 0, 0),
 datetime.datetime(2017, 12, 19, 0, 0),
 datetime.datetime(2017, 12, 21, 0, 0),
 datetime.datetime(2017, 12, 25, 0, 0),
 datetime.datetime(2017, 12, 27, 0, 0),
 datetime.datetime(2017, 12, 29, 0, 0),
 datetime.datetime(2018, 1, 2, 0, 0),
 datetime.datetime(2018, 1, 4, 0, 0),
 datetime.datetime(2018, 1, 5, 0, 0)]

In [44]:
N = 3
days_before=[]
days_after=[]
for i in range(len(mark)):
    date = datetime.strptime(mark[i],'%Y-%m-%d')
    days_before.append((date-timedelta(days=N)).isoformat())
    days_after.append((date+timedelta(days=N)).isoformat())

['2017-10-05T00:00:00',
 '2017-10-06T00:00:00',
 '2017-10-08T00:00:00',
 '2017-10-09T00:00:00',
 '2017-10-14T00:00:00',
 '2017-10-17T00:00:00',
 '2017-10-20T00:00:00',
 '2017-10-22T00:00:00',
 '2017-10-26T00:00:00',
 '2017-10-28T00:00:00',
 '2017-10-29T00:00:00',
 '2017-10-30T00:00:00',
 '2017-11-06T00:00:00',
 '2017-11-07T00:00:00',
 '2017-11-08T00:00:00',
 '2017-11-11T00:00:00',
 '2017-11-12T00:00:00',
 '2017-11-13T00:00:00',
 '2017-11-16T00:00:00',
 '2017-11-21T00:00:00',
 '2017-11-22T00:00:00',
 '2017-11-23T00:00:00',
 '2017-11-24T00:00:00',
 '2017-11-25T00:00:00',
 '2017-11-28T00:00:00',
 '2017-12-02T00:00:00',
 '2017-12-03T00:00:00',
 '2017-12-07T00:00:00',
 '2017-12-11T00:00:00',
 '2017-12-12T00:00:00',
 '2017-12-13T00:00:00',
 '2017-12-16T00:00:00',
 '2017-12-18T00:00:00',
 '2017-12-22T00:00:00',
 '2017-12-24T00:00:00',
 '2017-12-26T00:00:00',
 '2017-12-30T00:00:00',
 '2018-01-01T00:00:00',
 '2018-01-02T00:00:00']

In [60]:
for i in range(len(mark)):
    date = datetime.strptime(mark[i],'%Y-%m-%d')
    array_mark.append(date-timedelta(days=1))
    array_mark.append(date+timedelta(days=1))
    array_mark.append(date-timedelta(days=2))
    array_mark.append(date+timedelta(days=2))
    array_mark.append(date-timedelta(days=3))
    array_mark.append(date+timedelta(days=3))
array_mark

[datetime.datetime(2017, 10, 8, 0, 0),
 datetime.datetime(2017, 10, 9, 0, 0),
 datetime.datetime(2017, 10, 11, 0, 0),
 datetime.datetime(2017, 10, 12, 0, 0),
 datetime.datetime(2017, 10, 17, 0, 0),
 datetime.datetime(2017, 10, 20, 0, 0),
 datetime.datetime(2017, 10, 23, 0, 0),
 datetime.datetime(2017, 10, 25, 0, 0),
 datetime.datetime(2017, 10, 29, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 1, 0, 0),
 datetime.datetime(2017, 11, 2, 0, 0),
 datetime.datetime(2017, 11, 9, 0, 0),
 datetime.datetime(2017, 11, 10, 0, 0),
 datetime.datetime(2017, 11, 11, 0, 0),
 datetime.datetime(2017, 11, 14, 0, 0),
 datetime.datetime(2017, 11, 15, 0, 0),
 datetime.datetime(2017, 11, 16, 0, 0),
 datetime.datetime(2017, 11, 19, 0, 0),
 datetime.datetime(2017, 11, 24, 0, 0),
 datetime.datetime(2017, 11, 25, 0, 0),
 datetime.datetime(2017, 11, 26, 0, 0),
 datetime.datetime(2017, 11, 27, 0, 0),
 datetime.datetime(2017, 11, 28, 0, 0),
 datetime.datetime(2017, 12, 1, 0, 0),
 datetime.datetime(2017, 12, 5, 0, 0),
 datetime.datetime(2017, 12, 6, 0, 0),
 datetime.datetime(2017, 12, 10, 0, 0),
 datetime.datetime(2017, 12, 14, 0, 0),
 datetime.datetime(2017, 12, 15, 0, 0),
 datetime.datetime(2017, 12, 16, 0, 0),
 datetime.datetime(2017, 12, 19, 0, 0),
 datetime.datetime(2017, 12, 21, 0, 0),
 datetime.datetime(2017, 12, 25, 0, 0),
 datetime.datetime(2017, 12, 27, 0, 0),
 datetime.datetime(2017, 12, 29, 0, 0),
 datetime.datetime(2018, 1, 2, 0, 0),
 datetime.datetime(2018, 1, 4, 0, 0),
 datetime.datetime(2018, 1, 5, 0, 0),
 datetime.datetime(2017, 10, 7, 0, 0),
 datetime.datetime(2017, 10, 9, 0, 0),
 datetime.datetime(2017, 10, 6, 0, 0),
 datetime.datetime(2017, 10, 10, 0, 0),
 datetime.datetime(2017, 10, 5, 0, 0),
 datetime.datetime(2017, 10, 11, 0, 0),
 datetime.datetime(2017, 10, 8, 0, 0),
 datetime.datetime(2017, 10, 10, 0, 0),
 datetime.datetime(2017, 10, 7, 0, 0),
 datetime.datetime(2017, 10, 11, 0, 0),
 datetime.datetime(2017, 10, 6, 0, 0),
 datetime.datetime(2017, 10, 12, 0, 0),
 datetime.datetime(2017, 10, 10, 0, 0),
 datetime.datetime(2017, 10, 12, 0, 0),
 datetime.datetime(2017, 10, 9, 0, 0),
 datetime.datetime(2017, 10, 13, 0, 0),
 datetime.datetime(2017, 10, 8, 0, 0),
 datetime.datetime(2017, 10, 14, 0, 0),
 datetime.datetime(2017, 10, 11, 0, 0),
 datetime.datetime(2017, 10, 13, 0, 0),
 datetime.datetime(2017, 10, 10, 0, 0),
 datetime.datetime(2017, 10, 14, 0, 0),
 datetime.datetime(2017, 10, 9, 0, 0),
 datetime.datetime(2017, 10, 15, 0, 0),
 datetime.datetime(2017, 10, 16, 0, 0),
 datetime.datetime(2017, 10, 18, 0, 0),
 datetime.datetime(2017, 10, 15, 0, 0),
 datetime.datetime(2017, 10, 19, 0, 0),
 datetime.datetime(2017, 10, 14, 0, 0),
 datetime.datetime(2017, 10, 20, 0, 0),
 datetime.datetime(2017, 10, 19, 0, 0),
 datetime.datetime(2017, 10, 21, 0, 0),
 datetime.datetime(2017, 10, 18, 0, 0),
 datetime.datetime(2017, 10, 22, 0, 0),
 datetime.datetime(2017, 10, 17, 0, 0),
 datetime.datetime(2017, 10, 23, 0, 0),
 datetime.datetime(2017, 10, 22, 0, 0),
 datetime.datetime(2017, 10, 24, 0, 0),
 datetime.datetime(2017, 10, 21, 0, 0),
 datetime.datetime(2017, 10, 25, 0, 0),
 datetime.datetime(2017, 10, 20, 0, 0),
 datetime.datetime(2017, 10, 26, 0, 0),
 datetime.datetime(2017, 10, 24, 0, 0),
 datetime.datetime(2017, 10, 26, 0, 0),
 datetime.datetime(2017, 10, 23, 0, 0),
 datetime.datetime(2017, 10, 27, 0, 0),
 datetime.datetime(2017, 10, 22, 0, 0),
 datetime.datetime(2017, 10, 28, 0, 0),
 datetime.datetime(2017, 10, 28, 0, 0),
 datetime.datetime(2017, 10, 30, 0, 0),
 datetime.datetime(2017, 10, 27, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 10, 26, 0, 0),
 datetime.datetime(2017, 11, 1, 0, 0),
 datetime.datetime(2017, 10, 30, 0, 0),
 datetime.datetime(2017, 11, 1, 0, 0),
 datetime.datetime(2017, 10, 29, 0, 0),
 datetime.datetime(2017, 11, 2, 0, 0),
 datetime.datetime(2017, 10, 28, 0, 0),
 datetime.datetime(2017, 11, 3, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 2, 0, 0),
 datetime.datetime(2017, 10, 30, 0, 0),
 datetime.datetime(2017, 11, 3, 0, 0),
 datetime.datetime(2017, 10, 29, 0, 0),
 datetime.datetime(2017, 11, 4, 0, 0),
 datetime.datetime(2017, 11, 1, 0, 0),
 datetime.datetime(2017, 11, 3, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 4, 0, 0),
 datetime.datetime(2017, 10, 30, 0, 0),
 datetime.datetime(2017, 11, 5, 0, 0),
 datetime.datetime(2017, 11, 8, 0, 0),
 datetime.datetime(2017, 11, 10, 0, 0),
 datetime.datetime(2017, 11, 7, 0, 0),
 datetime.datetime(2017, 11, 11, 0, 0),
 datetime.datetime(2017, 11, 6, 0, 0),
 datetime.datetime(2017, 11, 12, 0, 0),
 datetime.datetime(2017, 11, 9, 0, 0),
 datetime.datetime(2017, 11, 11, 0, 0),
 datetime.datetime(2017, 11, 8, 0, 0),
 datetime.datetime(2017, 11, 12, 0, 0),
 datetime.datetime(2017, 11, 7, 0, 0),
 datetime.datetime(2017, 11, 13, 0, 0),
 datetime.datetime(2017, 11, 10, 0, 0),
 datetime.datetime(2017, 11, 12, 0, 0),
 datetime.datetime(2017, 11, 9, 0, 0),
 datetime.datetime(2017, 11, 13, 0, 0),
 datetime.datetime(2017, 11, 8, 0, 0),
 datetime.datetime(2017, 11, 14, 0, 0),
 datetime.datetime(2017, 11, 13, 0, 0),
 datetime.datetime(2017, 11, 15, 0, 0),
 datetime.datetime(2017, 11, 12, 0, 0),
 datetime.datetime(2017, 11, 16, 0, 0),
 datetime.datetime(2017, 11, 11, 0, 0),
 datetime.datetime(2017, 11, 17, 0, 0),
 datetime.datetime(2017, 11, 14, 0, 0),
 datetime.datetime(2017, 11, 16, 0, 0),
 datetime.datetime(2017, 11, 13, 0, 0),
 datetime.datetime(2017, 11, 17, 0, 0),
 datetime.datetime(2017, 11, 12, 0, 0),
 datetime.datetime(2017, 11, 18, 0, 0),
 datetime.datetime(2017, 11, 15, 0, 0),
 datetime.datetime(2017, 11, 17, 0, 0),
 datetime.datetime(2017, 11, 14, 0, 0),
 datetime.datetime(2017, 11, 18, 0, 0),
 datetime.datetime(2017, 11, 13, 0, 0),
 datetime.datetime(2017, 11, 19, 0, 0),
 datetime.datetime(2017, 11, 18, 0, 0),
 datetime.datetime(2017, 11, 20, 0, 0),
 datetime.datetime(2017, 11, 17, 0, 0),
 datetime.datetime(2017, 11, 21, 0, 0),
 datetime.datetime(2017, 11, 16, 0, 0),
 datetime.datetime(2017, 11, 22, 0, 0),
 datetime.datetime(2017, 11, 23, 0, 0),
 datetime.datetime(2017, 11, 25, 0, 0),
 datetime.datetime(2017, 11, 22, 0, 0),
 datetime.datetime(2017, 11, 26, 0, 0),
 datetime.datetime(2017, 11, 21, 0, 0),
 datetime.datetime(2017, 11, 27, 0, 0),
 datetime.datetime(2017, 11, 24, 0, 0),
 datetime.datetime(2017, 11, 26, 0, 0),
 datetime.datetime(2017, 11, 23, 0, 0),
 datetime.datetime(2017, 11, 27, 0, 0),
 datetime.datetime(2017, 11, 22, 0, 0),
 datetime.datetime(2017, 11, 28, 0, 0),
 datetime.datetime(2017, 11, 25, 0, 0),
 datetime.datetime(2017, 11, 27, 0, 0),
 datetime.datetime(2017, 11, 24, 0, 0),
 datetime.datetime(2017, 11, 28, 0, 0),
 datetime.datetime(2017, 11, 23, 0, 0),
 datetime.datetime(2017, 11, 29, 0, 0),
 datetime.datetime(2017, 11, 26, 0, 0),
 datetime.datetime(2017, 11, 28, 0, 0),
 datetime.datetime(2017, 11, 25, 0, 0),
 datetime.datetime(2017, 11, 29, 0, 0),
 datetime.datetime(2017, 11, 24, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 11, 27, 0, 0),
 datetime.datetime(2017, 11, 29, 0, 0),
 datetime.datetime(2017, 11, 26, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 11, 25, 0, 0),
 datetime.datetime(2017, 12, 1, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 12, 2, 0, 0),
 datetime.datetime(2017, 11, 29, 0, 0),
 datetime.datetime(2017, 12, 3, 0, 0),
 datetime.datetime(2017, 11, 28, 0, 0),
 datetime.datetime(2017, 12, 4, 0, 0),
 datetime.datetime(2017, 12, 4, 0, 0),
 datetime.datetime(2017, 12, 6, 0, 0),
 datetime.datetime(2017, 12, 3, 0, 0),
 datetime.datetime(2017, 12, 7, 0, 0),
 datetime.datetime(2017, 12, 2, 0, 0),
 datetime.datetime(2017, 12, 8, 0, 0),
 datetime.datetime(2017, 12, 5, 0, 0),
 datetime.datetime(2017, 12, 7, 0, 0),
 datetime.datetime(2017, 12, 4, 0, 0),
 datetime.datetime(2017, 12, 8, 0, 0),
 datetime.datetime(2017, 12, 3, 0, 0),
 datetime.datetime(2017, 12, 9, 0, 0),
 datetime.datetime(2017, 12, 9, 0, 0),
 datetime.datetime(2017, 12, 11, 0, 0),
 datetime.datetime(2017, 12, 8, 0, 0),
 datetime.datetime(2017, 12, 12, 0, 0),
 datetime.datetime(2017, 12, 7, 0, 0),
 datetime.datetime(2017, 12, 13, 0, 0),
 datetime.datetime(2017, 12, 13, 0, 0),
 datetime.datetime(2017, 12, 15, 0, 0),
 datetime.datetime(2017, 12, 12, 0, 0),
 datetime.datetime(2017, 12, 16, 0, 0),
 datetime.datetime(2017, 12, 11, 0, 0),
 datetime.datetime(2017, 12, 17, 0, 0),
 datetime.datetime(2017, 12, 14, 0, 0),
 datetime.datetime(2017, 12, 16, 0, 0),
 datetime.datetime(2017, 12, 13, 0, 0),
 datetime.datetime(2017, 12, 17, 0, 0),
 datetime.datetime(2017, 12, 12, 0, 0),
 datetime.datetime(2017, 12, 18, 0, 0),
 datetime.datetime(2017, 12, 15, 0, 0),
 datetime.datetime(2017, 12, 17, 0, 0),
 datetime.datetime(2017, 12, 14, 0, 0),
 datetime.datetime(2017, 12, 18, 0, 0),
 datetime.datetime(2017, 12, 13, 0, 0),
 datetime.datetime(2017, 12, 19, 0, 0),
 datetime.datetime(2017, 12, 18, 0, 0),
 datetime.datetime(2017, 12, 20, 0, 0),
 datetime.datetime(2017, 12, 17, 0, 0),
 datetime.datetime(2017, 12, 21, 0, 0),
 datetime.datetime(2017, 12, 16, 0, 0),
 datetime.datetime(2017, 12, 22, 0, 0),
 datetime.datetime(2017, 12, 20, 0, 0),
 datetime.datetime(2017, 12, 22, 0, 0),
 datetime.datetime(2017, 12, 19, 0, 0),
 datetime.datetime(2017, 12, 23, 0, 0),
 datetime.datetime(2017, 12, 18, 0, 0),
 datetime.datetime(2017, 12, 24, 0, 0),
 datetime.datetime(2017, 12, 24, 0, 0),
 datetime.datetime(2017, 12, 26, 0, 0),
 datetime.datetime(2017, 12, 23, 0, 0),
 datetime.datetime(2017, 12, 27, 0, 0),
 datetime.datetime(2017, 12, 22, 0, 0),
 datetime.datetime(2017, 12, 28, 0, 0),
 datetime.datetime(2017, 12, 26, 0, 0),
 datetime.datetime(2017, 12, 28, 0, 0),
 datetime.datetime(2017, 12, 25, 0, 0),
 datetime.datetime(2017, 12, 29, 0, 0),
 datetime.datetime(2017, 12, 24, 0, 0),
 datetime.datetime(2017, 12, 30, 0, 0),
 datetime.datetime(2017, 12, 28, 0, 0),
 datetime.datetime(2017, 12, 30, 0, 0),
 datetime.datetime(2017, 12, 27, 0, 0),
 datetime.datetime(2017, 12, 31, 0, 0),
 datetime.datetime(2017, 12, 26, 0, 0),
 datetime.datetime(2018, 1, 1, 0, 0),
 datetime.datetime(2018, 1, 1, 0, 0),
 datetime.datetime(2018, 1, 3, 0, 0),
 datetime.datetime(2017, 12, 31, 0, 0),
 datetime.datetime(2018, 1, 4, 0, 0),
 datetime.datetime(2017, 12, 30, 0, 0),
 datetime.datetime(2018, 1, 5, 0, 0),
 datetime.datetime(2018, 1, 3, 0, 0),
 datetime.datetime(2018, 1, 5, 0, 0),
 datetime.datetime(2018, 1, 2, 0, 0),
 datetime.datetime(2018, 1, 6, 0, 0),
 datetime.datetime(2018, 1, 1, 0, 0),
 datetime.datetime(2018, 1, 7, 0, 0),
 datetime.datetime(2018, 1, 4, 0, 0),
 datetime.datetime(2018, 1, 6, 0, 0),
 datetime.datetime(2018, 1, 3, 0, 0),
 datetime.datetime(2018, 1, 7, 0, 0),
 datetime.datetime(2018, 1, 2, 0, 0),
 datetime.datetime(2018, 1, 8, 0, 0)]

In [73]:
np.ones(8)

array([1., 1., 1., 1., 1., 1., 1., 1.])

In [105]:
date_mark=pd.DataFrame({'Date':array_mark,
                       'Mark':np.ones(len(array_mark))})
date_mark.head()
date_mark.to_csv('marked_dates.csv')

In [76]:
df= pd.read_csv('short')

In [82]:
#Convert Timestamp into separate Date and Time
#temp = pd.DatetimeIndex(df['Timestamp']) #Gather all datetime objects
df['Date'] = pd.to_datetime(df['timeStamp']).dt.date

del df['timeStamp'] #Delete original datetime column
df.head()

,Unnamed: 0,author,contents,description,publisher,source_url,title,Date
0,0,Phillip Molnar,A British real estate company Monday launched ...,A British real estate company Monday launched ...,Sandiegouniontribune.com,http://www.sandiegouniontribune.com/business/r...,"Purplebricks, flat fee real estate listers, la...",2018-01-09
1,1,NaN,2018-01-09 — bbc.com\t\n\t\nsource article |...,``In parts of the continent - especially comme...,NaN,NaN,Why African millennials can't get enough of Bi...,2018-01-09
2,2,"Associated Press, By Associated Press","NEW YORK — Kodak, which traces its roots to th...","NEW YORK — Kodak, which traces its roots to th...",Bostonherald.com,http://www.bostonherald.com/news/national/2018...,Kodak surges at it becomes latest 'cryptocurre...,2018-01-09
3,3,NaN,2018-01-09 — thehill.com\t\n\t\nsource artic...,``JPMorgan Chase CEO Jamie Dimon has walked ba...,NaN,NaN,"Dimon: ""I regret calling bitcoin a fraud""",2018-01-09
4,4,NaN,2018-01-09 — reuters.com\t\n\t\nsource artic...,"``Staff at the regulatory agency ""expressed co...",NaN,NaN,Fund managers say bitcoin ETF proposals withdr...,2018-01-09

In [100]:
df.Date = df.Date.astype(str)
date_mark.Date = date_mark.Date.astype(str)
marked = pd.merge(df,date_mark, how='left', left_on='Date',right_on='Date')
#df.merge(date_mark,how='left',left_on='Date',right_index=True)

In [101]:
marked.Mark = marked.Mark.fillna(0)

In [103]:
marked.head()

,Unnamed: 0,author,contents,description,publisher,source_url,title,Date,Mark
0,0,Phillip Molnar,A British real estate company Monday launched ...,A British real estate company Monday launched ...,Sandiegouniontribune.com,http://www.sandiegouniontribune.com/business/r...,"Purplebricks, flat fee real estate listers, la...",2018-01-09,0.0
1,1,NaN,2018-01-09 — bbc.com\t\n\t\nsource article |...,``In parts of the continent - especially comme...,NaN,NaN,Why African millennials can't get enough of Bi...,2018-01-09,0.0
2,2,"Associated Press, By Associated Press","NEW YORK — Kodak, which traces its roots to th...","NEW YORK — Kodak, which traces its roots to th...",Bostonherald.com,http://www.bostonherald.com/news/national/2018...,Kodak surges at it becomes latest 'cryptocurre...,2018-01-09,0.0
3,3,NaN,2018-01-09 — thehill.com\t\n\t\nsource artic...,``JPMorgan Chase CEO Jamie Dimon has walked ba...,NaN,NaN,"Dimon: ""I regret calling bitcoin a fraud""",2018-01-09,0.0
4,4,NaN,2018-01-09 — reuters.com\t\n\t\nsource artic...,"``Staff at the regulatory agency ""expressed co...",NaN,NaN,Fund managers say bitcoin ETF proposals withdr...,2018-01-09,0.0

In [104]:
marked.to_csv('marked_news_short.csv')