In [1]:
## Import Packages and Libraries ##

# DataFrames and math
import pandas as pd
import numpy as np

# Output related packages 
import pprint as pp

In [2]:
# stretch Jupyter coding blocks to fit screen
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>")) 

# make it run on py2 and py3
from __future__ import division, print_function

# Data Merging and Clean Up
This  notebook is intended to perform the following processes:

    1.1 Read-in multiple dataframes. Each dataframe is the sorted and cleaned

    1.2 Indiviual dataframes are concatenated into a single dataframe

---
___
### **Begin Data Merging and Clean Up:**

__Merging and Cleaning Functions__

In [183]:
def df_sort(df):
    """ 
    Accepts: dataframe
    Procedure: ascending sort by timeStamp  -- placing missing data at top
    Returns: dataframe
    """
    
    result = df.sort_values(by = 'timeStamp', ascending = True,  na_position='first')
    return(result)

In [217]:
def df_dropDuplicates(df):
    """ 
    Accepts: dataframe 
    Procedure: for every row, checks every column - drops the second identical row 
    Returns: dataframe
    """

    result = df.drop_duplicates(keep = 'first')
    return(result)

In [218]:
def df_concat(df_list):
    """ 
    Accepts: a list of dataframe references
    Procedure: concatenates dataframes, ignoring index
    Returns: dataframe
    """
    
    result = pd.concat(df_list, ignore_index=True)
    print(result.info(), "\n")
    
    return(result)

___

__Control function for merging and cleaning__

In [219]:
def merge_and_clean(df_list):
    """ 
    Accepts: a list of dataframe references
    Procedure: for each list element (df reference) it (1) sorts df by date, (2) removes duplicate rows
    Returns: dataframe
    """
    
    temp = pd.DataFrame()
    i = 1
    for df in df_list:
        sort = df_sort(df)                # sorts dataframe
        print("\nDataframe", str(i),"sorted by 'timeStamp'.")
        
        rm_dups = df_dropDuplicates(sort) # removes duplicate rows from dataframe
        print("Duplicate rows dropped from dataFrame ", str(i))
        
        temp = temp.append(rm_dups)       # creates list of dataframe references
        i += 1
        
    print("\n+++ Dataframes Concatenated +++\n\n")
    processed = df_concat([temp])         # pd.concat requires a list of dataframes
    
    # check distribution of features
    print("\nDATAFRAME FEATURE OVERVIEW\n")
    for key in processed:
        print("\tFeature: ",key," \t  contains ",len(processed[key].unique()),"unique values.")
    
    print("\n\n\t\t\t+++++++++++++++++++++\n",
          "\t\t\t+ PROCESS COMPLETED +\n", 
          "\t\t\t+++++++++++++++++++++")
    
    return(processed)

---
__Process: riskEx_df__

In [214]:
# Load data 
rEx1 = pd.read_csv('riskEx_df.csv')
rEx2 = pd.read_csv('riskEx_df2.csv')
rEx3 = pd.read_csv('riskEx_df3.csv')
rEx4 = pd.read_csv('riskEx_df4.csv')
rEx5 = pd.read_csv('riskEx_df5.csv')

Index(['author', 'contents', 'description', 'publisher', 'source_url',
       'timeStamp', 'title'],
      dtype='object')

In [220]:
# list stores dataframe references for iteration
all_rEx = [rEx1, rEx2, rEx3, rEx4, rEx5]

In [221]:
# object declared stores resultincleaned, sorted and concatenated df
r_Ex = merge_and_clean(all_rEx)

Dataframe 1 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  1

Dataframe 2 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  2

Dataframe 3 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  3

Dataframe 4 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  4

Dataframe 5 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  5

+++ Dataframes Concatenated +++


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37582 entries, 0 to 37581
Data columns (total 7 columns):
author         37378 non-null object
contents       37582 non-null object
description    37368 non-null object
publisher      37582 non-null object
source_url     37582 non-null object
timeStamp      37582 non-null object
title          37571 non-null object
dtypes: object(7)
memory usage: 2.0+ MB
None


DATAFRAME FEATURE OVERVIEW

	Feature:  author  	  contains  8110 unique values.
	Feature:  contents  	  contains  28561 unique values.
	Feature:  description  	  contains  31161 unique values.
	Feature:  publisher  	  contains  1944 unique values.
	Feature:  source_url  	  contains  36156 unique values.
	Feature:  timeStamp  	  contains  33139 unique values.
	Feature:  title  	  contains  31109 unique values.


			+++++++++++++++++++++
 			+ PROCESS COMPLETED +
 			+++++++++++++++++++++

In [222]:
# Sorting of concatenated df
r_Ex_sort = df_sort(r_Ex)

In [223]:
# Drops duplicate rows from concatenated df
rEx = df_dropDuplicates(r_Ex_sort)

In [224]:
# Dataframe overview
rEx.describe()

,author,contents,description,publisher,source_url,timeStamp,title
count,36261,36458,36251,36458,36458,36458,36447
unique,8109,28561,31160,1944,36156,33139,31108
top,Scott Scanlon,403 Forbidden,The Internet on one page. Successor of Popurls...,Youbrandinc.com,http://www.startribune.com/twitter-to-ban-cryp...,2018-02-27 17:00:50+00:00,6 things Australian traders will be talking ab...
freq,1731,4608,742,1718,4,12,43

__Write to csv__

In [225]:
rEx.to_csv('rEx_df.csv', index_label = False)

---
__Process: use_riskEx__

In [226]:
# Load data
use_rEx1 = pd.read_csv('use_riskEx.csv')
use_rEx2 = pd.read_csv('use_riskEx2.csv')
use_rEx3 = pd.read_csv('use_riskEx3.csv')
use_rEx4 = pd.read_csv('use_riskEx4.csv')
use_rEx5 = pd.read_csv('use_riskEx5.csv')

In [227]:
# list stores dataframe references for iteration
all_use_rEx = [use_rEx1, use_rEx2, use_rEx3, use_rEx4, use_rEx5]

In [228]:
# object declared stores resulting cleaned, sorted and merged df
use_r_Ex = merge_and_clean(all_use_rEx)

Dataframe 1 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  1

Dataframe 2 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  2

Dataframe 3 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  3

Dataframe 4 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  4

Dataframe 5 sorted by 'timeStamp'.
Duplicate rows dropped from dataFrame  5

+++ Dataframes Concatenated +++


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28964 entries, 0 to 28963
Data columns (total 7 columns):
author         28791 non-null object
contents       28964 non-null object
description    28960 non-null object
publisher      28964 non-null object
source_url     28964 non-null object
timeStamp      28964 non-null object
title          28954 non-null object
dtypes: object(7)
memory usage: 1.5+ MB
None


DATAFRAME FEATURE OVERVIEW

	Feature:  author  	  contains  7153 unique values.
	Feature:  contents  	  contains  26418 unique values.
	Feature:  description  	  contains  27716 unique values.
	Feature:  publisher  	  contains  1753 unique values.
	Feature:  source_url  	  contains  27909 unique values.
	Feature:  timeStamp  	  contains  26989 unique values.
	Feature:  title  	  contains  25460 unique values.


			+++++++++++++++++++++
 			+ PROCESS COMPLETED +
 			+++++++++++++++++++++

In [237]:
# Sorting of concatenated df
use_rEx_sort = df_sort(use_r_Ex)

In [238]:
# create list of labels previously missed flag
rm_forbidden = use_rEx_sort[use_rEx_sort['contents'] == 'Forbidden'].index.values.tolist()

In [239]:
# Use remove_rows to remove observation from dataframe
use_rEx = use_rEx_sort.drop(rm_forbidden)

In [241]:
# Dataframe overview
use_rEx.describe()

,author,contents,description,publisher,source_url,timeStamp,title
count,28601,28774,28770,28774,28774,28774,28764
unique,7079,26417,27539,1740,27733,26813,25302
top,Scott Scanlon,If you are the site owner (or you manage this ...,"Welcome to OVERNIGHT CYBERSECURITY, your daily...",Youbrandinc.com,https://www.bloomberg.com/news/articles/2018-0...,2018-03-26 12:00:00+00:00,6 things Australian traders will be talking ab...
freq,1743,57,5,1730,3,10,43

__Write to csv__

In [242]:
use_rEx.to_csv('use_rEx.csv', index_label = False)

### **End Data Merging and Clean Up:** 
___
___